.wrap{
    display: flex;
    justify-content: space-between;
    
    input {
      width: 60%;
      padding: 8px 2px;
    }
    button{
      background-color: green;
      border: 1px solid white;
      color: white;
      border-radius: 4px;
      padding: 0 15px;
    }
    .search {
      width: 50%;
      position: relative;
      display: flex;
    }
    
    .searchTerm {
      width: 100%;
      border: 3px solid #00B4CC;
      padding: 5px;
      border-radius: 5px;
      outline: none;
      color: #9DBFAF;
    }
    
    .searchTerm:focus {
      color: #00B4CC;
    }
    p{
        color: #383c52;
    }
  }
  .top{

 
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    margin-top: 16px;
    }
    
    th {
        background-color: floralwhite;
        border: 2px solid blanchedalmond;
    }
    td {
      border: 2px solid blanchedalmond;
    }
    .delete{
     
    }
    img{
      width: 16px;
    }
    td, th {
      text-align: center;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }