<div style="margin: 30px">
    <div class="top">
        <input
        type="text"
        placeholder="Tìm kiếm"
      />
      <button type="button" (click)="create()">Thêm mới +</button>
    </div>
    <table>
      <tr>
        <th>STT</th>
        <th>Hình ảnh</th>
        <th>Tên thánh</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>Lớp</th>
        <th>Cha hoặc Mẹ</th>
        <th>Giáo xóm</th>
      </tr>
      <tr *ngFor ="let data of tableData; index as i " >
        <td>{{i+1}}</td>
        <img src="{{data.image}}"/>
        <td>{{data.namegod}}</td>
        <td>{{data.fullname}}</td>
        <td>{{data.birthday}}</td>
        <td>{{data.class}}</td>
        <td>{{data.parent}}</td>
        <td>{{data.groupgod}}</td>
      </tr>
    </table>
  </div>