<div style="margin: 30px">
  <form class="wrap">
    <div class="search">
      <input class="searchTerm" type="text" name="searchTerm" 
        placeholder="Tìm kiếm học sinh"
        [(ngModel)]="searchTerm" (input)="search(searchTerm)" />
    </div>
    <button type="button" (click)="create()">Thêm mới +</button>
  </form>
    <table>
      <tr>
        <th>STT</th>
        <th>Tên thánh</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>Lớp</th>
        <th>Tên thánh Cha</th>
        <th>Họ tên Cha</th>
        <th>Tên thánh Mẹ</th>
        <th>Họ tên Mẹ</th>
        <th>Giáo xóm</th>
        <th>Hành động</th>
      </tr>
      <tr *ngFor ="let data of tableData; index as i " >
        <td>{{i+1}}</td>
        <td>{{data.namegod}}</td>
        <td>{{data.fullname}}</td>
        <td>{{data.birthday | date: 'dd/MM/yyyy'}}</td>
        <td>{{data.class}}</td>
        <td>{{data.godfather}}</td>
        <td>{{data.fathername}}</td>
        <td>{{data.godmother}}</td>
        <td>{{data.mothername}}</td>
        <td>{{data.groupgod}}</td>
        <td class="delete">
          <img  style="margin-right: 11px;" src="assets/edit.png"/>
          <img (click)="delete(data.id)" src="assets/rubbish.png"/>
        </td>
      </tr>
    </table>
  </div>